.profile-card {
  margin: 0px;
  margin-top: 85px;
  /* position:relative; */
  text-align: center;
  background: #343637;
  overflow:hidden;
}

.image-div {
  width: 250px;
  height: 250px;
  position: relative;
  overflow: hidden;
  border: 1px solid #343637;
  border-radius: 50%;
  margin:20px auto;
}

.userImage {
  /* border: 1px solid #000000; */
  /* border-radius: 50%; */
  /* margin: 30px auto; */
  margin-bottom: 10px;
  /* position:absolute; */
  /* display: inline-block; */
  display: inline;
  margin: auto;
  width: 100%;
  height: auto;
}

h2.profile-name {
  padding: 8px 0px 20px 0px;
  color: #efe8a2;
}

.skills-row {
  margin: 0;
}
