.profile-card {
  margin: 0px;
  margin-top: 85px;
  /* position:relative; */
  text-align: center;
  background: #343637;
  overflow: hidden;
}

.image-div {
  width: 250px;
  height: 250px;
  position: relative;
  overflow: hidden;
  border: 1px solid #343637;
  border-radius: 50%;
  margin: 15px auto;
}

.userImage {
  /* border: 1px solid #000000; */
  /* border-radius: 50%; */
  /* margin: 30px auto; */
  margin-bottom: 10px;
  /* position:absolute; */
  /* display: inline-block; */
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: auto;
  object-fit: contain;
  transform: scale(1);
  transform-origin: center;
  background-size: content;
}

h2.profile-name {
  /* padding: 8px 0px 8px 0px; */
  color: #efe8a2;
  /* margin-bottom: 10px !important; */
}

.skills-row {
  margin: 0;
}

.followers-profile {
  color: #fff;
  margin-bottom: 15px;
}

#unfollowProfileBtn {
  margin-bottom: 15px;
  background-color: #343637;
  color: #48c5da;
  border: 1px solid #eee8aa;
  padding: 5px 10px 5px 10px;
  font-size: 14px;
  border-radius: 6px;
}

#unfollowProfileBtn:hover {
  color: #fff;
  background-color: rgba(255, 0, 0, 0.64);
}

#unfollowProfileBtn:focus {
  box-shadow: none;
}

#followProfileBtn {
  margin-bottom: 15px;
  background-color: #343637;
  color: #48c5da;
  border: 1px solid #eee8aa;
  padding: 5px 10px 5px 10px;
  font-size: 14px;
  border-radius: 6px;
}

#followProfileBtn:hover {
  color: #ffffff;
  background-color: #57c158;
}

#followProfileBtn:focus {
  box-shadow: none;
}
