nav {
  background-color: #404143;
  border-bottom: 1px solid #eee8aa;
}
#logo {
  font-size: 2.5rem;
  color: #ffffff;
}
#logo:hover {
  color: #ffffff;
}

.socialCodeChar {
  color: #a7a6ba;
}

.socialCodeText {
  color: #48c5da;
}
