.post {
  margin: 10px 20px;
}
.form-control {
  padding: 15px;
  border: none;
  font-size: 1.2rem;
}
.form-control:focus {
  box-shadow: none !important;
  color: #8b9dc3;
}

.snippet-text {
  border:1px solid rgba(0,0,0,.125);
  width:100%;
  height:200px;
}
