.post {
  margin: 10px 20px;
}
.form-control {
  padding: 15px;
  border: none;
  font-size: 1.2rem;
}

.form-control:focus {
  box-shadow: none !important;
  color: #fff;
}

.snippet-text {
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  width: 100%;
  height: 200px;
  background-color: #1e2424;
  color: #fff;
}

.snippet-desc {
  color: #fff;
}

#userPost {
  color: #ffffff;
}
