/*===============  Media Queries ================*/

/* Very Large Devices, Wide Screens */
@media only screen and (max-width: 1300px) {
}
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .stuck {
    width: 195px !important;
  }
  .stuck h4 {
    font-size: 1.2rem;
  }
  .dropdown-item {
    padding-left: 1rem;
  }
  #newMessageCard {
    width: 85%;
  }
  .profile-links a {
    padding-left: 4px !important;
    padding-right: 4px !important;
  }
  .search-form input {
    width: 80% !important;
  }
  #commentDrop input {
    margin-left: 13px;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  #newMessageCard {
    margin-top: 7rem;
  }
  .userSearch {
    left: 5%;
  }
  #accountNav {
    height: 110px;
  }
  #accountLogo {
    display: none;
  }
  #accountNav {
    height: 78px;
  }
  .navbar > .container,
  .navbar > .container-fluid {
    padding-top: 2px;
  }
  #newPostCard {
    margin-top: 63px;
  }
  .stuck {
    width: 183px !important;
  }
  .stuck h4 {
    font-size: 1.2rem;
  }
  .footer {
    display: none;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .dropdown-menu.show {
    position: absolute;
  }
  #accountNav {
    height: 93px !important;
    padding-top: 0px;
  }
  .userSearch {
    /* display: none; */
    left: 0%;
    margin: auto;
    padding-top: 0px;
  }
  .nav-wrapper {
    margin: auto;
    padding-top: 9px;
  }
  .navbar-nav li {
    margin-left: 10px;
  }
  #newPostCard {
    margin-top: 119px !important;
  }
  .card {
    padding: 15px;
  }
  .card .content {
    margin: 20px 20px 0px 20px;
  }
  .hr {
    margin-top: 0px;
  }
  .userCardInfo {
    margin-bottom: 1rem;
    padding: 5px 10px;
    border-radius: 20px;
  }
  .info-card,
  .skills-card {
    padding: 15px;
  }
  .userinfoP {
    font-size: 13px;
  }
  .profile-links a {
    font-size: 10px !important;
    padding-left: 3px;
    padding-right: 3px;
  }
  .languageList {
    margin-left: 18px;
  }
  .techList {
    margin-left: 20px;
  }
  #langAndTech {
    font-size: 13px;
  }
  .image-div {
    max-width: 180px;
    height: auto;
  }
  .profile-card {
    margin-top: 105px;
  }
  h2.profile-name {
    font-size: 20px;
  }
  .followers-profile {
    font-size: 12px;
  }
  .stack-search h5 {
    padding: 20px;
    padding-bottom: 10px;
    font-size: 15px;
  }
  .stack-search {
    min-height: 120px;
  }
  .search-form input {
    width: 75% !important;
  }
  .search-results {
    font-size: 11px;
    max-height: 200px;
  }
  .stuck {
    display: none;
  }
  #commentDrop input {
    width: 98% !important;
    margin-left: 18px !important;
  }
  .card .postheader {
    margin-bottom: 0px;
  }
  .editTitle {
    margin-top: 108px !important;
  }
  .card-body input {
    width: 300px !important;
  }
  #accordion .card {
    padding: 4px !important;
  }
  .followers input {
    width: 200px !important;
  }
  #newMessageCard {
    margin-top: 119px !important;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .dropdown-menu.show {
    left: -7rem;
  }
  #newMessageCard {
    margin-top: 9rem;
    width: 90vw;
  }
  .nav-wrapper {
    /* margin-bottom: 1rem;
    margin-top: 0.4rem; */
    width: 100%;
    margin: 0px auto;
    text-align: center;
  }

  #accountLogo {
    margin: auto;
  }

  /* .userSearch {
    width: 20%;
  } */

  #accountNav {
    height: 125px;
  }
  #newPostCard {
    margin-top: 125px !important;
  }
  .articleCard {
    margin: 10px;
  }

  .content {
    margin: 10px;
  }

  .snippet {
    font-size: 12px;
  }

  .article-title h4 {
    font-size: 18px;
  }

  #articleParagraph {
    font-size: 12px;
  }
  .bumper {
    height: 100px;
  }
  .profile-card {
    margin-top: 7rem !important;
  }
  .testNewPost {
    margin-top: 28px;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 380px) {
  .userSearch {
    margin: 3px 0px 0px 0px !important;
  }
  .nav-wrapper {
    margin-left: 6px;
  }
  .newsBumper {
    padding: 45px;
  }
  #newPostCard {
    padding: 10px !important;
    margin-top: 30px !important;
  }
  .cardfooter .post-btn {
    font-size: 0.7rem;
    margin-left: 5px;
    padding: 6px;
  }
  #commentDrop input {
    width: 92% !important;
    margin-left: 24px !important;
  }
  .userSearchInput {
    padding: 6px 0px 6px 8px;
  }
  #newMessageCard {
    margin-top: 118px !important;
  }
  /* #messageCard {
    position: relative;
    top: 400px;
  } */
  #logo {
    margin: auto;
    font-size: 2rem;
  }
  .login-form .box {
    float: left;
    margin-left: 37px;
  }
  .login-form {
    margin-top: 0px !important;
  }
  .navbar .wrapper {
    margin-bottom: 25px;
  }
  .loginBtn {
    position: absolute;
    bottom: 35px;
    right: 55px;
  }
  .landingTitle {
    font-size: 1.8rem;
    margin-top: 40px !important;
    text-align: center;
  }
  .fa-user-friends {
    font-size: 2.5rem;
  }
  .fa-laptop-code {
    font-size: 2.5rem;
  }
  .fa-readme {
    font-size: 2.5rem;
  }
  .iconsection {
    padding: 0px 20px;
    margin-left: 15px !important;
  }
  .iconText {
    font-size: 12px !important;
  }
  .smallText {
    font-size: 8.5px !important;
  }
  .regTitle {
    font-size: 1.8rem !important;
    text-align: center;
    margin-top: 20px !important;
  }
  .regInput {
    margin: 9px 0px 9px 40px !important;
  }
  .regSubmit {
    margin-left: 65px;
  }
  .languageList {
    margin-left: 85px;
  }
  .techList {
    margin-left: 85px;
  }
  .editTitle {
    margin-top: 118px !important;
  }
  .card-header {
    text-align: center;
  }
  #accordion .card {
    padding: 0px;
  }
  .card-body input {
    width: 250px !important;
  }
  .followers input {
    width: 200px !important;
  }
  .profile-links a {
    font-size: 14px !important;
    padding-left: 3px;
    padding-right: 3px;
  }
}

/*================================================*/
