#dropdownMenuButton2 {
  background-color: #343637;
  border: 1px solid #eee8aa;
  color: #a8a7a3;
}

.dropdown-item #editProfile {
  color: #a8a7a3 !important;
  font-size: 14px !important;
}

.dropdown-item #editProfile:hover {
  color: #48c5da !important;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
  background-color: #5a6268;
}

.dropdown-item:focus,
.dropdown-item:hover {
  background-color: #5a6268;
}

/* .dropdown-item:hover {
  background: none;
} */

@media screen and (max-width: 768px) {
  .dropdown-menu.show {
    position: absolute;
  }
}

@media screen and (max-width: 414px) {
  .dropdown-menu.show {
    left: -7rem;
  }
}