.author {
  font-size: 25px;
  text-align: left;
  margin-left: 80px;
  position: absolute;
  top: 5.5%;
  color: #eee8aa;
}

.timestamp {
  margin-left: 80px;
  position: absolute;
  top: 50%;
  color: #ffffff;
  font-size: 13px;
}

.postheader {
  margin-bottom: 20px;
  position: relative;
}

.only-delete {
  position:absolute;
  top:0;
  right:0;
  
}

.thumbnail-div {
  width: 60px;
  height: 60px;
  /* position: relative; */
  overflow: hidden;
  border-radius: 50%;
  /* margin:20px auto; */
}

.thumbnail {
  width: 60px;
  border-radius: 50%;
}

.delete-btn {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  color:rgba(212, 212, 212, 0.29);
  border: none;
  font-size:17px;
}

.delete-btn:hover {
  color:rgba(255, 0, 0, 0.5);
}

.newsfeed-delete {
  position:absolute;
  top:-30%;
  right:-3%;
  z-index:5;
}
