.stuck {
  position: fixed;
  top: 84px;
  /* left: 10px; */
  bottom: 23px;
  width: 280px;
  overflow-y: scroll;
  padding: 4px;
  border: 1px solid #eee8a1;
  background-color: #343637;
}

.stuck h4 {
  color: #ffffff;
  text-align: center;
}

.stuck::-webkit-scrollbar {
  width: 0 !important;
}
.stuck {
  -ms-overflow-style: none;
}
.stuck {
  overflow: -moz-scrollbars-none;
}



@media screen and (max-width: 1024px) {
  .container {
    margin:0px;
    padding:20px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    margin:0px;
    padding:20px;
  }

  .stuck {
    width:25%;
  }

  .stuck h4{
    font-size:20px;
  }

  .stuck .article-title {
    font-size:15px;
  }
}

@media screen and (max-width: 414px) {

  .stuck {
    display:none;
  }
}