#messageCard {
  /* margin-top: 85px; */
  padding: 20px;
}

#messageCard hr {
  border-color: 0.5px solid rgba(238, 232, 170, 0.56);
  margin-top: 0px;
  margin-bottom: 16px;
}

.messageboard {
  border-bottom: 0.5px solid rgba(238, 232, 170, 0.56);
  margin-bottom: 16px;
}

.messageboard #exchanges {
  margin-bottom: 10px;
}
