#newMessageCard {
  margin-top: 85px;
  padding: 20px 30px;
  /* border: 1px solid #48c5da; */
}

#newMessageCard:after {
  content: "";
  position: absolute;
  top: 0;
  left: 20%;
  width: 0;
  height: 0;
  border: 22px solid transparent;
  border-bottom-color: #343637;
  border-top: 0;
  margin-left: -22px;
  margin-top: -22px;
}

#newMessageCard h3 {
  margin-bottom: 18px;
  color: #ffffff;
}

#newMessageCard #toUser {
  width: 100%;
  background: none;
  border: 1px solid #eee8aa;
  color: #ffffff;
  margin-bottom: 15px;
}

#newMessageCard #toUser:focus {
  outline: none;
}

#newMessageCard #toUser {
  padding: 8px;
  border-radius: 6px;
}

#newMessageCard #messageTextArea {
  background: none;
  width: 100%;
  height: 80px;
  border: 1px solid #eee8aa;
  color: #ffffff;
  margin-bottom: 12px;
  border-radius: 6px;
  padding: 8px;
}

#newMessageCard #messageTextArea:focus {
  outline: none;
}

#submitMessageBtn {
  background-color: #343637;
  color: #48c5da;
  border: 1px solid #eee8aa;
  padding: 5px 20px 5px 20px;
  font-size: 14px;
  border-radius: 6px;
  float: right;
}

#submitMessageBtn:hover {
  background-color: rgba(50, 205, 50, 0.53);
  color: #ffffff;
}

#submitMessageBtn:focus {
  outline: none;
}

@media screen and (max-width: 980px) {
  #newMessageCard {
    margin-top: 7rem;
  }
}

@media screen and (max-width: 414px) {
  #newMessageCard {
    margin-top: 9rem;
    width: 90vw;
  }
}