.replyInputField input {
  width: 100%;
  background: none;
  border: 1px solid #eee8aa;
  color: #ffffff;
  margin-bottom: 12px;
  border-radius: 6px;
  padding: 8px;
}

.replyInputField input:focus {
  outline: none;
}

#replyInputSubmit {
  background-color: #343637;
  color: #48c5da;
  border: 1px solid #eee8aa;
  padding: 5px 20px 5px 20px;
  font-size: 14px;
  border-radius: 6px;
  float: right;
}
