/* .newMessage {
  color: #48c5da;
  margin-top: 85px;
  background-color: #343637;
  padding: 20px;
}

.messageList {
  color: white;
  margin-top: 85px;
  background-color: #343637;
}

hr {
  border-color: red;
} */
