.bumper {
  height: 85px;
}

.stationary {
  position: fixed;
  top: 0px;
  width: 380px;
  overflow-y: scroll;
}

.stationary::-webkit-scrollbar {
  width: 0 !important;
}
.stationary {
  -ms-overflow-style: none;
}
.stationary {
  overflow: -moz-scrollbars-none;
}
