#messageDeleteBtn {
  position: absolute;
  z-index: 10;
  right: 16px;
  background: none;
  border: none;
  color: rgba(212, 212, 212, 0.29);
}

#messageDeleteBtn:hover {
  color: rgba(255, 0, 0, 0.5);
}

.messageBump {
  padding: 10px;
}

.col-sm-12 {
  margin: auto;
}
