body {
  background-color: #120f0a;
  /* overflow: hidden; */
}

body::-webkit-scrollbar {
  display: none;
}

.row {
  margin-top: 0px;
}

.landingTitle {
  color: #a8a7a3;
  margin-top: 105px;
}

.iconsection {
  color: #ffffff;
  margin: 30px 0px;
}

.iconText {
  margin-left: 15px;
  font-size: 17px;
  color: #a8a7a3;
  font-weight: bold !important;
}

.smallText {
  margin-left: 5px;
  font-weight: normal;
  font-size: 15px;
  color: #666;
}

#icon {
  color: #a7a6ba;
}
#icon2 {
  color: #a7a6ba;
}
#icon3 {
  color: #a7a6ba;
}
