/* Container */
.container {
  padding-right: 5%;
  padding-left: 5%;
}

/* Row */
.row {
  margin-top: 30px;
}

/* Col */
.col-md-8 {
  margin: 0px auto;
  /* height: 160px; */
  position: relative;
  /* background: #ffffff; */
  border-radius: 0.4em;
}
