.info-wrapper {
    border:1px solid grey;
    background:#fff;
}

.info-card,
.skills-card {
    padding:30px;
    background-color:#fff;
    margin:20px 0px;

}

.languages,
.technologies {
    padding:0;
    margin:10px 0px;
   
}

li {
    margin-left:20px;
}