.info-card,
.skills-card {
  padding: 20px;
  background-color: #343637;
  color: #fff;
  margin: 20px 0px;
}

.languages,
.technologies {
  padding: 0;
  margin: 10px 0px;
}

.info-card h5,
.info-card p,
.languages .languageInfo,
.technologies .techInfo {
  color: #48c5da;
}

li {
  margin-left: 20px;
  list-style: none;
}

.profile-links {
  text-align: center;
}

.profile-links a {
  color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
}

.profile-links a:hover {
  color: #eee8aa;
  text-decoration: none;
}

.userCardInfo {
  color: #48c5da;
  margin-bottom: 1rem;
  background-color: rgba(139, 144, 146, 0.31);
  padding: 10px;
  border-radius: 20px;
}

.userinfoP {
  margin-bottom: 0.8rem !important;
  margin-left: 10px;
}

#avatarIcon {
  margin-right: 8px;
}

#langAndTech {
  margin-bottom: 0px !important;
}

.languages .languageList {
  color: #ffffff;
}

.technologies .techList {
  color: #ffffff;
}
