#newPostCard {
  margin-top: 85px;
  padding: 20px;
}

#newPostCard:after {
  content: "";
  position: absolute;
  top: 0;
  left: 20%;
  width: 0;
  height: 0;
  border: 22px solid transparent;
  border-bottom-color: #343637;
  border-top: 0;
  margin-left: -22px;
  margin-top: -22px;
}

#newPostBoxHR {
  margin-top: 0px !important;
  margin-bottom: 1.2rem !important;
}

/* MEDIA QUERIES ---------------------------- */

@media screen and (max-width: 768px) {
  #newPostCard {
    margin-top: 6.5rem;
  }
}

@media screen and (max-width: 414px) {
  #newPostCard {
    margin-top: 6.5rem;
  }
}
