.news-article {
  padding: 5px;
  border-bottom: 1px solid #ffffff;
}

.summary {
  font-size: 11px;
  margin-bottom: 8px;
}

.source {
  color: #ffffff;
  font-size: 13px;
}

.summary {
  color: #ffffff;
}

/* .news-article hr {
  border-color: #ffffff;
} */
