.editTitle {
  color: rgba(240, 234, 168, 0.67);
  margin-top: 90px;
  text-align: center;
}

#accordion {
  color: #ffffff;
  background-color: #343637;
  margin-top: 25px;
  border: 1px solid #eee8aa;
}

.btn-link {
  color: #48c5da;
}

.btn-link:hover {
  color: #48c5da;
  text-decoration: none;
}

.btn-link:focus {
  text-decoration: none;
}

.btn-link:visited {
  text-decoration: none;
}

.card-body {
  text-align: center;
}

.card-header {
  border-bottom: 1px solid #525557;
}

.card-header:hover {
  background-color: rgba(73, 196, 218, 0.32);
}

.card-body {
  border-bottom: 0.5px solid rgba(238, 232, 170, 0.56);
}

.card-body input {
  width: 400px;
  background: none;
  border: 1px solid #eee8aa;
  color: #ffffff;
  padding: 2px 10px 2px 10px;
  margin-bottom: 20px;
  border-radius: 6px;
}

.card-body input:focus {
  outline: none;
}

.card-body label {
  font-size: 12px;
  margin-right: 10px;
  color: #ffffff;
}

.card-body button {
  background-color: #343637;
  color: #48c5da;
  border: 1px solid #eee8aa;
  padding: 5px 10px 5px 10px;
  margin-left: 3px;
  margin-right: 3px;
  border-radius: 6px;
}

.followers {
  color: #ffffff;
  background-color: #343637;
  margin-top: 25px;
  border: 1px solid #eee8aa;
  padding: 25px;
}

.followers h5 {
  color: rgba(240, 234, 168, 0.67);
  padding: 5px 0px 13px 0px;
}

.followers hr {
  border-color: #525557;
}

.followers button {
  margin-left: 10px;
  background-color: #343637;
  color: #48c5da;
  border: 1px solid #eee8aa;
  padding: 5px 10px 5px 10px;
  font-size: 14px;
  border-radius: 6px;
}

.followers input {
  width: 400px;
  background: none;
  border: 1px solid #eee8aa;
  color: #ffffff;
  padding: 2px 10px 6px 10px;
  margin-bottom: 20px;
  border-radius: 6px;
}

.followers input:focus {
  outline: none;
}

#editUnfollow:hover {
  background-color: rgba(255, 0, 0, 0.64);
  color: #ffffff;
}

#followFriend {
  margin-bottom: 15px;
}

.card-body button:focus {
  outline: none;
}

.stack-search {
  background-color: #343637;
  /* padding:10px; */
  height: auto;
  max-height: 600px;
  overflow-y: scroll;
  position: relative;
}

.search-wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  overflow: hidden;
}

.search-bar {
  /* margin:auto; */
  /* height:200px; */
  /* position:fixed; */
  /* top:0; */
  /* width: 90%; */
}

.stack-search a {
  color: #fff;
  height: auto;
}

.stack-search h5 {
  color: #efe8a2;
  padding: 20px;
}

.search-form {
  margin: 10px 20px;
  /* width: 100%; */
}

.search-form input {
  border: 1px solid #eee8aa;
  background: none;
  border-radius: 5px;
  height: 30px;
  font-size: 13px;
  color: #fff;
  width: 85%;
  padding: 10px;
}

.search-form button {
  margin-left: 3px;
  background: none;
  border: 1px solid #eee8aa;
  /* border-radius:6px; */
  color: #fff;
  height: 30px;
  width: auto;
}

.search-results {
  padding:0px 15px;
  padding-bottom:15px;
  margin-top: 100px;
}

#stackSearchInput:focus {
  outline: none;
}

@media screen and (max-width: 768px) {
 
  .stack-search h5 {
    padding: 20px;
    padding-bottom:10px;
    font-size:15px;
  }

  .stack-search {
    min-height:120px;
  }

  .search-form input {
    width:78%;
  }
 
 .search-results {
   font-size:11px;
   max-height:200px;
 }


}

@media screen and (max-width: 414px) {
  .profile-card {
    margin-top: 8rem;
  }

}



