.loginBtn {
  margin-left: 20px;
  margin-top: 10px;
  color: #00cdcd;
  background-color: #404143;
  border-color: #eee8aa;
}
.loginBtn:focus {
  outline: none;
}

.loginInput {
  margin-left: 10px;
  padding: 2px;
  background: none;
  color: #ffffff;
  border-color: #eee8aa;
}
.loginInput:focus {
  outline-color: #00cdcd;
}

.login-form {
  text-align: center;
  margin-top: 5px;
}

.box {
  display: inline-block;
}

.boxTitle {
  margin-left: 20px;
  margin-top: 10px;
  position: relative;
  right: 60px;
  font-size: 0.8rem;
  color: #00cdcd;
}
