/* ARTICLE CARD ---------------------------- */

.articleCard {
  margin: 10px 30px;
  text-align: left;
}

#articleParagraph {
  margin-top: 18px;
  color: #ffffff;
  text-align: left;
  margin-bottom: 0px;
}

.article-title {
  color: #48c5da;
}

.article-title:hover {
  color: #48c5da;
}

.articleCard img {
  margin-top: 8px;
}

/* SNIPPET CARD ---------------------------- */

.content {
  margin: 10px 30px;
  text-align: left;
}

.snippet {
  /* padding: 20px; */
  /* margin-top: 10px; */
  height: auto;
  /* background-color: rgba(245, 245, 245, 0.82); */
  border: 1px solid rgba(0, 0, 0, 0.125);
  position: relative;
}

/* Snippet - Copy and Save Buttons*/
.copy-btn,
.snippet-btn {
  color: #343637;
}

.icons {
  position: absolute;
  right: 0;
  top: 0;
}

#copySnipBtn {
  background: none;
  border: none;
  /* padding: 0px; */
}

.tooltiptext {
  visibility: hidden;
  width: auto;
  background-color: #111717f0;
  color: #48c5da;
  text-align: center;
  padding: 10px;
  border-radius: 3px;
  font-family: "Ubuntu";
  font-weight: 300;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

.snippet-btn .tooltiptext {
  position: absolute;
  z-index: 1;
  top: -100%;
  right: -50%;
  margin-left: -60px;
}

.copy-btn .tooltiptext {
  position: absolute;
  z-index: 1;
  top: -100%;
  right: 0%;
  margin-left: -60px;
}

.copy-btn:hover .tooltiptext,
.snippet-btn:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.snippet-text {
  background: none;
}

.snippet-text:focus {
  outline: none;
}

#copySnipDiv {
  display: inline-block;
}

/* Snippet alert */
/* .Toastify__toast-container {
  width: 148px !important;
}

.Toastify__toast--default {
  color: red !important;
} */

/* STATUS CARD ---------------------------- */

.status-content {
  margin: 10px;
  width: 90%;
  text-align: left;
  color: #ffffff !important;
}

/* User inputs */
.form-control {
  background: none;
  border: 2px solid #48c5da;
}

.form-control:focus {
  background: none;
}
