/* Article Card */
.articleCard {
  margin: 0 30px;
  text-align: left;
}

p {
  margin-top: 10px;
}

/* Snippet Card */
.content {
  margin: 10px 30px;
  text-align: left;
}

.snippet {
  padding: 20px;
  margin-top: 10px;
  height: auto;
  background-color: rgba(245, 245, 245, 0.82);
  border: 1px solid rgba(0, 0, 0, 0.125);
}

/* Status Card */
.status-content {
  margin: 10px 30px;
  width: 90%;
  text-align: left;
}

/* User inputs */
.form-control {
  background: none;
  border: 2px solid #48c5da;
}

.form-control:focus {
  background: none;
}

.snippet-text {
  background: none;
  color: rgb(167, 167, 167);
}

.snippet-text:focus {
  outline: none;
}