

.post-btn {

  float:right;
  vertical-align: baseline;
}

.comment-btn {
  right:0;
}

.like-btn {
  right:20%;
}

/* .comments {
  background-color:rgba(245, 245, 245, 0.82);
  margin:0;
  width:100;
} */

