#accountNav {
  box-sizing: border-box;
  height: 57px;
  margin-bottom: 30px;
  border-bottom: 1px solid #eee8aa;
}

#accountLogo {
  color: white;
}

#accountNav .nav-link {
  font-size: 13px;
  padding: 8px 0px 0px 0px;
  color: #48c5da;
}

#accountNav .nav-link:hover {
  color: #ffffff;
}
