#accountNav {
  box-sizing: border-box;
  height: 57px;
  margin-bottom: 25px;
  border-bottom: 1px solid #eee8aa;
}

#accountLogo {
  color: white;
}

#accountNav .nav-link {
  font-size: 13px;
  padding: 8px 0px 0px 0px;
  color: #48c5da;
}

#accountNav .nav-link:hover {
  color: #ffffff;
}

.userSearch {
  position: relative;
  left: 17%;
}

.userSearchInput {
  width: 280px;
  background: none;
  border: 1px solid #eee8aa;
  color: #ffffff;
  padding: 2px 0px 5.5px 8px;
  margin-right: 3px;
  border-radius: 6px;
}

.userSearchInput:focus {
  outline: none;
}

#userSearchBtn {
  background-color: #343637;
  border: 1px solid #eee8aa;
  color: #a8a7a3;
  padding: 5px 10px 5px 10px;
}
