nav.navbar.navbar-default {
  margin-bottom: 0;
}

nav.navbar {
  box-sizing: border-box;
  height: 57px;
}

li:not(#logout) {
  box-sizing: border-box;
  width: 106px;
  height: 41px;
  text-align: center;
}

li:not(#logout):hover {
  border-radius: 5px;
  border: 1px solid gray;
}

button {
  cursor: pointer;
}